:root {
    --themeColor: #1e202f;
}

body {
    margin: 0;
    /* background-color: var(--themeColor);
    background-image: url(assets/hero.jpg);
    background-repeat: no-repeat; */
    
    /* 
    background: url(assets/hero.jpg) var(--themeColor) no-repeat;
    background-position: center center;
    background-size: contain; */
}

/* Border */
.myDiv {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;

    /* border-width: 1px;
    border-color: #000000;
    border-style: dashed; */

    border: 4px solid #000000;
    border-radius: 20px;
}
