html, body {margin: 0; padding: 0;}

.boxModel {
    max-width: 860px;
    /* min-width: 700px; */
    /* width: calc(100% - 64px); */
    /* width: 100%; */
    padding: 20px;
    border: 2px solid #000000;
    /* margin: 20px; */
    /* margin-top: 170px; */
    /* margin-left: 620px; */
    margin: auto;
}

/* Types of width */
.width {
    max-width: 800px;
    min-width: 700px;
    width: 100%;
    width: auto;
    width: 700px;
    width: calc(100% - 200px);
}

/*  */
.margin {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    /* margin: 10px 10px 10px 10px; Top, TopRight, Bottom, BottomLeft */
}

.padding {
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 10px 10px 10px 10px; Top, TopRight, Bottom, BottomLeft */
}

.row div {display: inline-block;}
.column {
    width: 49%;
    border: 2px solid #000;
    padding: 20px;
    box-sizing: border-box;
}