html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.grid {
    max-width: 1216px;
    margin: auto;
}

.heading {
    max-width: 560px;
    h2 {font-size: 24px; font-weight: 700;}
    p {font-size: 16px; color: #929A9F;}
}

header {
    overflow: auto;
    max-width: 1216px;
    margin: 64px auto 96px;

    /* How vlaues work in CSS */
    /* 
    margin: 1px 1px 1px 1px; top right bottom left
    margin: 1px 1px; top&bottom right&left
    margin: 1px 1px 1px; top right&left bottom
    margin: 1px; all 4 sides
    */

    .logo {float: left;}
    .nav {
        float: left; margin-left: 360px;
        ul {margin: 0; padding: 0;}
        li {
            list-style-type: none;
            display: inline-block;
            margin: 12px;
            font-weight: 500;

            &:hover {
                ul {display: block;}
            }

            &.sub {
                padding-right: 14px;
                &:after {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 5px;
                    background: url(../images/arrow.png) no-repeat;
                    background-size: contain;
                    position: relative;
                    right: -66px;
                    top: -13px;
                    cursor: pointer;
                }
            }

            ul {
                display: none;
                position: absolute;
                padding-top: 15px;

                li {
                    margin: 0;
                    background-color: #f4f4f4;
                    border-bottom: 1px solid #eaeaea;
                    padding: 12px 20px;

                    &:hover {
                        background-color: #ededed;
                    }
                }
            }
            li {display: block;}
        }
        a {text-decoration: none; color: #000;}
    }
    .mail-cta {
        float: right;
        background-color: #FF9900;
        padding: 10px 20px;
        
        a {text-decoration: none; color: #fff; font-weight: 500;}
        img {display: block; float: right; margin-left: 10px;}
    }
}

/* Section-1 */
.section-1 {
    overflow: auto;
    .col-left {
        float: left;
        max-width: 410px;
    }

    .col-right {
        float: right;
    }
}

/* Section-2 */
.section-2 {
    .col-3 {
        display: flex; flex-direction: row;
        justify-content: space-between; gap: 140px;
        .col {
            max-width: 312px;
            img {width: 100%;}
            h3 {font-size: 22px; color: #000;}
            p {font-size: 18px;}
        }
    }
}