:root {
    --orange: #FF9900;
    --lightBlue: #929A9F;
    --ulGrey: #F5F8FA;
    --green: #263640;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

div {transition: all 0.2s ease-in-out;}

h1, h2, h3, h4, h5, p {margin: 0; pad: 0;}
h1 {font-size: 32px; line-height: 44px;}
p {font-size: 16px; line-height: 26px;}
h4 {font-size: 14px; line-height: 20px;}

.grid {
    max-width: 1216px;
    margin: auto;
}

.heading {
    max-width: 560px; margin-bottom: 80px;
    h2 {font-size: 24px; font-weight: 700;}
    p {font-size: 16px; color: #929A9F; line-height: 28px; margin-top: 16px;}
}

/* CTA */

.cta {
    text-decoration: none;
    display: flex; align-items: center; gap: 16px;

    &:hover {
        &:after {margin-left: 10px;}
    }
    &:after {
        content: "";
        display: block;
        width: 8px;
        height: 12px;
        background: url(../images/arrow.svg) no-repeat;
        transition: all 0.15s ease-in-out;
    }
}

header {
    overflow: auto;
    max-width: 1216px;
    margin: 64px auto 96px;

    /* How vlaues work in CSS */
    /* 
    margin: 1px 1px 1px 1px; top right bottom left
    margin: 1px 1px; top&bottom right&left
    margin: 1px 1px 1px; top right&left bottom
    margin: 1px; all 4 sides
    */

    .logo {float: left;}
    .nav {
        float: left; margin-left: 360px;
        ul {margin: 0; padding: 0;}
        li {
            list-style-type: none;
            display: inline-block;
            margin: 12px;
            font-weight: 500;

            &:hover {
                ul {display: block;}
            }

            &.sub {
                padding-right: 14px;
                &:after {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 5px;
                    background: url(../images/arrow.png) no-repeat;
                    background-size: contain;
                    position: relative;
                    right: -66px;
                    top: -13px;
                    cursor: pointer;
                }
            }

            ul {
                display: none;
                position: absolute;
                padding-top: 15px;

                li {
                    margin: 0;
                    background-color: #f4f4f4;
                    border-bottom: 1px solid #eaeaea;
                    padding: 12px 20px;

                    &:hover {
                        background-color: #ededed;
                    }
                }
            }
            li {display: block;}
        }
        a {text-decoration: none; color: #000;}
    }
    .mail-cta {
        float: right;
        background-color: #FF9900;
        padding: 10px 20px;
        
        a {text-decoration: none; color: #fff; font-weight: 500;}
        img {display: block; float: right; margin-left: 10px;}
    }
}

/* Section-1 */
.section-1 {
    overflow: auto;
    .col-left {
        float: left;
        max-width: 410px;
    }

    .col-right {
        float: right;
    }
}

/* Section-2 */
.section-2 {
    background-color: var(--ulGrey);
    padding: 177px 0px 558px;
    margin-top: -181px;
    .col-3 {
        display: flex; flex-direction: row;
        justify-content: space-between; gap: 140px;
        align-items: flex-start;
        .col {
            max-width: 312px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            img {
                width: 100%;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
                -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
                -moz-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
            }
            h3 {font-size: 22px; color: #000;}
            p {font-size: 16px; color: var(--lightBlue); line-height: 28px;}
            .cta {color: var(--orange);}
        }
    }
}

/* Section 3 */
.section-3 {
    margin-top: -387px;
    .container {
        background: var(--ulGrey);
        display: flex;
        margin-left: -50px;
        padding-left: 50px;
    }
    .col-left {
        background: var(--green);
        padding: 98px 0 74px 98px;
        width: 100%;
        margin-right: -250px;
        height: fit-content;

        .content {
            max-width: 494px;
            color: #fff;
            display: flex;
            flex-direction: column;
            gap: 24px;

            h4 {color: var(--lightBlue); text-transform: uppercase; font-size: 14px;}
            h1 {}
            p {}
            .cta {
                color: #fff;
                border-top: 1px solid #ffffff24;
                padding-top: 24px; margin-top: 24px;
                &:after {background: url(../images/arrow-white.svg);}
            }
        }
    }

    .col-right {
        min-width: 488px; margin-top: 98px;
        img {width: 100%;}
    }
}
