.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "header header header"
    "main spacer sidebar"
    "footer footer footer"
    ;
    background-color: #000;
    padding: 20px;

    /* align-content: space-around;
    justify-content: start; */
    /* place-content: space-around start; */
    /* place-content: [align-content] [justify-content] */

    /* justify-items: start; */
    /* align-items: start; */
    /* place-items: end start; */
    /* place-items: [row] [columns]*/

    /* column-gap: 20px;
    row-gap: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px; */
    /* gap: 20px 15px; */
    /* gap: [row-gap] [column-gap]; */

    /* Shorthand property */
    /* ================== */
    /* grid-template: 
    [row1-start] "header header header header" auto [row1-end]
    [row2-start] "main main . sidebar" auto [row2-end]
    [row3-start] "footer footer footer footer" auto [row3-end]
    / 100px 100px 100px 100px
    ; */
}

.container div {
    background-color: #fff;
    border: 1px solid blue;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}

.item-c {
    grid-area: sidebar;
}

.item-d {
    grid-area: footer;
}

.item-e {
    grid-area: spacer;
}

@media (max-width: 1140px) {
    .container {
        grid-template-columns: auto auto;
    }
}